.App-header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: Roboto, sans-serif;  
}

.App-body {
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  font-family: Roboto, sans-serif;
}
.App-body-Register {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: aquamarine;
}
.App-body-Login {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightsalmon;
}
.App-body-TodoList {
  background-color: white;
  margin: auto;
  padding: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #efefef;
  box-shadow: 1px 1px rgba(0,0,0,0.15)
}
input {
  border-radius: 5px;
}
.App-body-TodoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-weight: 100;
}
.TodoItem-button {
  margin-left: 10px;
}
.App-body-AddItem {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightpink;
}
.App-body-DelItem {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightgoldenrodyellow;
}



button {
  border-radius: 5px;
}