* {
  font-family: Roboto, sans-serif;
}
/*-----------------------------------------------------------*/
.App-header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-family: Roboto, sans-serif;  
}
/*-----------------------------------------------------------*/
.App-body {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
}
/*-----------------------------------------------------------*/
.App-body-Register {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: aquamarine;
}
/*-----------------------------------------------------------*/
.App-body-Login {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightsalmon;
}
/*-----------------------------------------------------------*/
.App-body-TodoList {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}
input {
  border-radius: 5px;
}
/*-----------------------------------------------------------*/
.App-body-TodoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 10px;
  
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}
.TodoItem-button {
  margin-left: 10px;
  scroll-margin-bottom: 10px;
}
input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}
/*-----------------------------------------------------------*/
.App-body-AddItem {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightpink;
}
/*-----------------------------------------------------------*/
.App-body-DelItem {          display: none;
  margin: 10px;
  padding: 10px;
  border: solid 1px grey;
  background-color: lightgoldenrodyellow;
}



button {
  border-radius: 5px;
}